@import url('https://googleapis.com');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    margin: 0;
}

/* Background bands */
.bg-band {
    display: flex;
    justify-content: center;
}
.band {
    width: 80vw;
    flex: 0 1 auto;
}

/* Header */
.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 8px 0;
    height: 48px;
    flex: 0 1 auto;
}
.header-logo {
    font-size: 24px;
}
.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    list-style-type: none;
}
.header-link {
    color: inherit;
    text-decoration: none;
}

/* Footer */
.footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 48px;
    padding: 8px 0;
}

/* Main content */
.page {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.page-slice {
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    height: 0;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    height: 100%;
}
.left-hero,
.right-hero {
    flex: 1 1 0;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    padding: 24px 0;
}
.hero-title {
    font-size: 48px;
    font-weight: 900;
}
.hero-text {
    font-size: 18px;
    margin-bottom: 16px;
}
.hero-image {
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* Information section */
.info-slice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 24px; */
}
.info-title {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 36px;
}
.info-image-boxes {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: start;
}
.info-image-box {
    flex: 0 1 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-image-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    aspect-ratio: 1;
    border: 2px solid #3882F6;
    border-radius: 16px;
}
.info-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

/* Quote */
.quote-slice {
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote-text {
    font-size: 36px;
    font-weight: 300;
}
.quote-author {
    font-size: 24px;
    font-weight: 900;
    align-self: flex-end;
}

/* Action section */
.action-slice {
    display: flex;
    align-items: center;
}
.action-window {
    margin: auto;
    padding: 32px;
    background-color: #3882F6;
    border-radius: 8px;
}

/* Buttons */
button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    border: 0;
    border-radius: 8px;
}
.action-button {
    border: 2px solid #F9FAF8;
}

/* Colors */
.white {
    color: #F9FAF8;
}
.gray {
    color: #E5E7EB;
}
.gray-bg {
    background-color: #E5E7EB;
}
.dark-blue {
    color: #1F2937;
}
.dark-blue-bg {
    background-color: #1F2937;
}