@import url('https://googleapis.com');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.bg-band {
    display: flex;
    justify-content: center;
}

.bg-band div {
    width: 800px;
    flex: 0 1 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 16px 8px 8px;
}

.header * {
    padding: 0;
    margin: 0;
}

.header-logo {
    font-size: 24px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    list-style-type: none;
}

.header-links a {
    color: inherit;
    text-decoration: none;
}

.white {
    color: #F9FAF8;
}

.gray {
    color: #E5E7EB;
}

.dark-blue-bg {
    background-color: #1F2937;
}